@use "@utils/mixins/colors";

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "images items"
    "images actions"
    "shipping shipping";

  height: calc(100vh - 244px);

  @media only screen and (max-width: 848px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: auto;

    grid-template-areas:
      "items"
      "actions"
      "shipping"
      "images";
  }

  .cart-images {
    grid-area: images;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    @media only screen and (max-width: 848px) {
      aspect-ratio: 1/1;
      margin: 0 12px 60px 0;
    }
  }

  .cart-items {
    grid-area: items;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 32px 0;

    @media only screen and (max-width: 848px) {
      margin: 32px 12px 0;
    }

    .title {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }

    .lines {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 12px;
      margin-top: 16px;

      .line {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 8px;

        .close {
          display: flex;
          margin: 0;
          padding: 0 0 4px 0;
        }
      }
    }
  }

  .cart-actions {
    grid-area: actions;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 24px 24px 0;

    @media only screen and (max-width: 848px) {
      margin: 0 12px;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      font-weight: 500;

      .amount {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .button-container {
    display: flex;
    column-gap: 16px;
    row-gap: 0px;
    flex-wrap: wrap;
    justify-content: flex-end;

    button {
      text-transform: capitalize;
    }
  }

  .free-shipping {
    grid-area: shipping;
    justify-self: flex-end;
    margin: 0 32px 60px 0;
    text-align: right;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;

    @media only screen and (max-width: 848px) {
      margin: 12px;
    }
  }
}

// -------- //

.image-container {
  position: absolute;
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  padding-top: 60px;
}
