@use "@utils/mixins/colors";

.header-desktop {
  position: sticky;
  top: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  z-index: 1;

  @media only screen and (max-width: 900px) {
    padding: 10px 10px 20px;
    display: none;
  }

  .logo {
    width: auto;
    height: 160px;
    margin: 0 16px;
  }

  .menu-container {
    top: 16px;
    right: 24px;

    display: flex;
    align-items: flex-start;
    background: linear-gradient(180deg, #dbdbd8 0%, #e4e4e0 100%);
    border-radius: 12px;
    height: min-content;
    gap: 20px;
    padding: 12px 20px;
    margin: 20px;

    .menu-item {
      font-weight: 600;
      font-size: 15px;
    }
  }
}

.header-mobile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: 1;

  @media only screen and (min-width: 900px) {
    display: none;
  }

  .button-container {
    position: fixed;
    top: 0;
    right: 0px;

    display: flex;
    padding: 8px;
    background: linear-gradient(180deg, #dbdbd8 0%, #e4e4e0 100%);

    border-radius: 12px;
    height: min-content;
    margin: 20px;
  }

  .shop-link {
    padding-top: 100px;
    width: 90%;
    margin: auto;

    .menu-logo {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .menu-button {
    font-weight: 600;
    font-size: 15px;
  }
}
