.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 204px);

  @media only screen and (min-width: 848px) {
    min-height: calc(100dvh - 284px);
  }
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: linear-gradient(180deg, #dbdbd8 0%, #e4e4e0 100%);
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;

  padding: 2px 12px;
  white-space: nowrap;

  display: flex;
  gap: 12px;
  align-items: center;
}

.timer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  max-width: 300px;
  width: 100%;
}
