@use "@utils/mixins/colors";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .info-column {
    max-width: 600px;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;

    .group {
      margin: 100px 0px;

      .label {
        font-size: 24px;
        font-weight: 800;
        color: colors.$sage-green;
        padding: 0 8px;
      }

      .sub-label {
        font-size: 18px;
        font-weight: 800;
        color: colors.$sage-green;
        padding: 8px;
      }

      .text {
        font-size: 14px;
        font-weight: 400;
        padding: 0 8px;
        line-height: 28px;
      }
    }
  }
}

.title {
  padding: 20px 8px;
  font-size: 48px;
  font-weight: 700;
}

.social-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;

  .social-group {
    .label {
      font-size: 24px;
      font-weight: 800;
      color: colors.$sage-green;
      padding: 0 8px;
    }

    .text {
      font-size: 15px;
      padding: 0 8px;
      margin: 0;
    }
  }
}
