.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 100px;

  .products {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
