@use "@utils/mixins/colors";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;

  .locations {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: auto;
    row-gap: 24px;
    column-gap: 24px;

    h2,
    p {
      margin: 0px;
      line-height: 24px;
      font-weight: 500;
    }

    .store {
      font-size: 16px;
      font-weight: 700;
      color: black;
      cursor: pointer;

      &:hover {
        color: colors.$sage-green;
      }
    }

    .address {
      font-size: 13px;
    }
  }
}
