@use "utils/mixins/colors";

.dialog-container {
  position: relative;
  z-index: 10;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: colors.$black;
  opacity: 0.7;
}

.dialog {
  position: fixed;
  inset: 0;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);

  .dialog-content {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: colors.$white;
    font-size: 16px;

    .dialog-panel {
      display: flex;
      flex-direction: column;
      gap: 25px;
      max-width: 500px;
    }
  }
}

.image-container {
  background-color: colors.$white;
}
