@use "utils/mixins/colors";

.header-desktop {
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  z-index: 1;

  @media only screen and (max-width: 900px) {
    padding: 10px 10px 20px;
  }

  .logo {
    height: 200px;
    margin: 0 16px;
  }

  .menu-container {
    display: flex;
    align-items: flex-start;
    gap: 36px;
    margin: 20px 30px;

    .menu-item {
      font-weight: 700;

      &:hover {
        color: colors.$sage-green;
      }
    }
  }
}

.header-mobile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: 1;

  .button-container {
    display: flex;
  }

  .shop-link {
    width: 90%;
    margin: auto;

    .menu-logo {
      width: 100%;
    }
  }

  .menu-button {
    padding: 0;
    margin: 20px;
    font-weight: 700;

    &:hover {
      color: colors.$sage-green;
    }
  }
}
