@use "@utils/mixins/colors";

.cart-container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 5px;

  .count {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 10px;
    top: 2px;
    right: 2px;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    display: flex;

    justify-content: flex-start;
  }
}
