.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 0 100px;

  @media (max-width: 768px) {
    margin: 32px 0 100px;
  }

  .products {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 50px;
    width: 100%;
    margin: 0px auto;
    padding: 0 32px;
    grid-template-columns: repeat(auto-fit, 250px);
    flex-wrap: wrap;
  }
}
